@-moz-document domain("boards.4chan.org") {

.navLinks, .fileText, hr, #header-bar, .page-num, .pages, .stickyIcon, .closedIcon, .summary, #updater, .identityIcon, .pagelist, .postNum [title="Highlight this post"], .gal-name, .gal-count, .gal-buttons {
display: none !important;
}

*:not(.thumb) {
background: #fff !important;
color: #3d4b4f !important;
font-family: "Univers LT 55", sans-serif !important;
line-height:21px !important; 
font-size: 10pt !important;
margin: 0 !important;
padding: 0 !important;
font-weight: 400 !important;
box-shadow: none !important;
}

#delform {
margin-top: -1px !important;
}

:root:not(.remove-spoilers) spoiler:not(:hover), :root:not(.remove-spoilers) s:not(:hover) {
background: #3d4b4f !important;
color: #3d4b4f !important;
transition: all 0.2s ease 0s !important;
border-radius: 1px !important;
}

spoiler:hover, s:hover {
transition: all 0.2s ease 0s !important;
}

a:not(.fileThumb) {
color: #5f9cce !important;
text-decoration: none !important;
transition: all 0.2s ease 0s !important;
border-bottom: 1px solid #fff !important;
}

a:not(.fileThumb):not(.useremail):not([title="Quote this post"]):hover {
border-bottom: 1px solid #4685b8 !important;
color:#326085;
text-shadow: none !important;
}

.quote {
color: #389c6a !important;
}

.pagelist{
background: transparent !important;
border: none !important;
}

.prev *, .next * {
position: fixed !important;
opacity: 1 !important;
background-color: #5f9cce !important;
border-radius: 2px !important;
color: #fff !important;
font-size: 12px !important;
transition: all 0.3s ease 0s !important;
padding: 3px 4px 3px 4px !important;
text-decoration: none !important;
}

.prev a:before {
content: "test" !important;
}

.next a:after {
content: "test" !important;
}

#shortcuts {
opacity: 0 !important;
}

/* POSTS */

.post {
border: none !important;
border-top: 1px solid #edf1f2 !important;
width: 95% !important;
padding-top: 13px !important;
padding-bottom: 13px !important;
padding-left: 5% !important;
}

.postMessage {
margin-top: 19px !important;
margin-bottom: 19px !important;
padding-right: 5% !important;
}

.fileThumb img {
border-radius: 2px !important;
margin-top: 19px !important;
margin-bottom: 13px !important;
}

.fileThumb {
padding-right: 32px !important;
}

.op .fileThumb img {
margin-bottom: -6px !important;
margin-top: 19px !important;
}

.expanded-image > .post > .file > .fileThumb > .full-image {
margin-bottom: 19px !important;
}

.expanded-image > .op > .file > .fileThumb > .full-image {
margin-bottom: 0px !important;
}

.prettyprint {
width: 100% !important;
background: #fff !important;
border: none !important;
border-top: 1px solid #edf1f2 !important;
border-bottom: 1px solid #edf1f2 !important;
padding-left:  5% !important;
padding-top: 32px !important;
padding-bottom: 32px !important;
margin-top: 32px !important;
margin-bottom: 32px !important;
}

/* INLINE */

.hasInline .postMessage {
padding-right: 0% !important;
}

.inline .postContainer {
clear: both !important;
display: flex !important;
border-bottom: 1px solid #edf1f2 !important;
margin-top: 32px !important;
margin-bottom: 11px !important;
}

.inline .postMessage {
padding-right: 0% !important;
}

.inline .postNum {
right: 49px !important;
}

.inline .inline .postNum {
right: 124px !important;
}

.inline .inline .inline .postNum {
right: 199px !important;
}

/* POST INFO */

.postInfo {
position: sticky !important;
top: 14px !important;
margin-right: 95px !important;
background: transparent !important;
text-align: right !important;
text-transform: uppercase !important;
min-height: 0px !important;
max-height: 0px !important;
}

.dateTime {
position: relative !important;
font-size: 12px !important;
top: -5px !important;
color: #b1bfc4 !important;
opacity: 0 !important;
}

.nameBlock {
position: relative !important;
font-size: 12px !important;
top: -5px !important;
opacity: 0 !important;
}

.name, .postertrip {
font-size: 12px !important;
color: #ce5f80 !important;
}

.subject {
position: relative !important;
color: #5f7dce !important;
top: -22px !important;
}

.backlink-container {
position: absolute !important;
right:-70px !important;
top: 25px !important;
opacity: 1 !important;
width: 100px !important;
}

.post:hover .dateTime, .dateTime:hover, .post:hover .nameBlock, .nameBlock:hover, .backlink:hover, .post:hover .backlink  {
opacity: 1 !important;
transition: all 0.2s ease 0.2s !important;
}

.postNum {
position: absolute !important;
top: -9px !important;
right: -86px !important;
background-color: #5f9cce !important;
border-radius: 2px !important;
color: #fff !important;
font-size: 12px !important;
padding: 3px 8px 3px 8px !important;
text-decoration: none !important;
cursor: pointer !important;
transition: all 0.3s ease 0s !important;
min-width: 54px !important;
max-width: 54px !important;
min-height: 21px !important;
max-height: 21px !important;
text-align: center !important;
}

.postNum a {
border: none !important;
background-color: #5f9cce !important;
color: #fff !important;
transition: all 0.3s ease 0s !important;
}
    
.postNum:hover {
color: #fff !important;
background-color: #326085 !important;
}

.postNum:hover a[title="Quote this post"] {
text-shadow: none !important;
background-color: #326085 !important;
}

.postNum  span {
color: #fff !important;
}

.replylink {
position: absolute !important;
top: 0px !important;
right: 75px !important;
background-color: #5f9cce !important;
border-radius: 2px !important;
color: #fff !important;
font-size: 12px !important;
padding: 3px 8px 3px 8px !important;
text-decoration: none !important;
cursor: pointer !important;
transition: all 0.3s ease 0s !important;
}

.replylink:hover {
background-color: #326085 !important;
}

/* GALLERY */

.gal-image {
border-radius: 2px !important;
margin: 32px !important;
}

.gal-prev, .gal-next {
top: 5px !important;
position: absolute !important;
opacity: 1 !important;
border: none !important;
background-color: #5f9cce !important;
border-radius: 2px !important;
color: #fff !important;
font-size: 12px !important;
padding: 3px 8px 3px 8px !important;
text-decoration: none !important;
cursor: pointer !important;
transition: all 0.3s ease 0s !important;
min-height: 21px !important;
max-height: 21px !important;
text-align: center !important;
}

.gal-prev {
min-width: 59px !important;
max-width: 59px !important;
right: 67px !important;
}

.gal-prev:before {
content: "PREVIOUS" !important;
}

.gal-next {
min-width: 32px !important;
max-width: 32px !important;
right: 14px !important;
}

.gal-next:before {
content: "NEXT" !important;
}

.gal-thumbnails {
border: none !important;
flex: 95% !important;
}

.gal-thumbnails img {
border-radius: 2px !important;
margin-top: 16px !important;
margin-bottom: 16px !important;
}

/* CATALOG */

.thumb {
box-shadow: none !important;
}

.catalog-thread {
border-top: 1px solid #edf1f2 !important;
padding-top: 32px !important;
margin-top: 32px !important;
}

.catalog-small {
margin-top: -32px !important;
}

/* QR */

#qr {
width: 100% !important;
border: none !important;
}

.field {
border: none !important;
border-top: 1px solid #edf1f2 !important;
border-bottom: 1px solid #edf1f2 !important;
outline: none !important;
}

.textarea {
margin-top: -1px !important;
}
    
}
