html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }

body, *{
font-family: "Univers LT 55", sans-serif !important;
line-height:21px;
}

h1 {
font-weight:400;
font-size:10pt;
text-transform:uppercase;
}
a, .rss-item {
margin-right:10px;
text-decoration: none;
font-size:10pt;
color:#5f9cce;
transition: all 0.2s ease 0s;
border-bottom: 1px solid #fff !important;
}
a:hover {
border-bottom: 1px solid #4685b8 !important;
color:#326085;
}
#beta {
padding-top:32px;
padding-bottom:32px;
margin-right:auto;
margin-left:auto;
width:90%;
border-bottom:1px solid #edf1f2;
padding-left: 10%!important;
color:#3d4b4f;
}
#omega {
background:#fff;
padding-top:32px;
padding-bottom:32px;
border-bottom:0px solid #edf1f2;
color:#3d4b4f;
padding-left:10%
}
#gamma a {
color:#5f9cce;
}
/* RSS */
.rss, .rss-item {
margin-top:1px;
white-space: nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.rss2 {
min-width:50%;
max-width:50%;
border-top:1px solid #edf1f2;
position:absolute!important;
left:0%;
bottom:0px!important;
}
.rss3 {
min-width:50%;
max-width:50%;
border-top:1px solid #edf1f2;
position:absolute!important;
left:50%;
bottom:0px!important;
}
.rss4 {
min-width:50%;
max-width:50%;
border-top:1px solid #edf1f2;
position:absolute!important;
left:100%;
bottom:0px!important;
}
.rss5 {
min-width:50%;
max-width:50%;
border-top:1px solid #edf1f2;
position:absolute!important;
left:150%;
bottom:0px!important;
}
.rss6 {
min-width:50%;
max-width:50%;
border-top:1px solid #edf1f2;
position:absolute!important;
left:200%;
bottom:0px!important;
}
.rss7 {
min-width:50%;
max-width:50%;
border-top:1px solid #edf1f2;
position:absolute!important;
left:250%;
bottom:0px!important;
}
#nogf {
overflow:hidden!important;
background:#fff;
height:222px;
min-width:100%;
max-width:100%;
position:fixed!important;
bottom:-97px!important;
transition:all 0.3s ease 0.3s!important;
}
#nogf-inner {
min-width:300%;
max-width:300%;
}
#nogf:hover {
transition:all 0.3s ease 0.1s!important;
bottom:-6px!important;
}
#nogf:hover ~ #white {
opacity:0;
transition-delay: 0.2s;
}
#white:hover #nogf {
transition:all 0.3s ease 0.1s!important;
bottom:-6px!important;
}
#white {
display:block;
background:#fff;
position:fixed!important;
min-width:100%;
height:21px;
bottom:0px;
box-shadow:0px -5px 8px rgba(255, 255, 255, 1);
opacity:1;
transition-delay: 0.2s;
}
#leftb, #rightb {
background-color: #5f9cce;
border-radius: 2px;
text-transform: uppercase;
color: #fff;
font-size: 12px;
font-weight: normal;
padding: 2px 6px 2px 6px;
text-decoration: none;
border:none;
position:fixed;
top: 5px;
right: 14px;
cursor: pointer;
transition: all 0.3s ease 0s;
}
#leftb {
background-color: transparent;
color: #b1bfc4;
right:67px !important;
left: auto !important;
cursor: default;
}
